root = true
[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{js,ts,json}]
indent_size = 2

[*.java]
indent_size = 4

[*.go]
indent_style = tab

# Shell Script
[*.{sh,bash,bashrc}]
indent_style        = space
indent_size         = 4
shell_variant       = bash    # like -ln=bash
binary_next_line    = true    # like -bn
switch_case_indent  = true    # like -ci
space_redirects     = true    # like -sr


# Assembly
[*.S]
indent_style = tab
indent_size = 8

# C++
[*.{c,h,cpp,hpp}]
indent_style = space
indent_size = 4

# Linker Script
[*.ld]
indent_style = tab
indent_size = 4

# Python
[*.py]
indent_style = space
indent_size = 4

# Perl
[*.pl]
indent_style = tab
indent_size = 4

# reStructuredText
[*.rst]
indent_style = space
indent_size = 2

# Ruby
[*.{rb,gemspec}]
indent_style = space
indent_size = 2

[Dangerfile, Rakefile, Guardfile, Gemfile]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 4

# Windows Command Script
[*.cmd]
end_of_line = crlf
indent_style = tab
indent_size = 4

# Valgrind Suppression File
[*.supp]
indent_style = space
indent_size = 2

# CMake
[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 4

# Device tree
[*.{dts,dtsi,overlay}]
indent_style = tab
indent_size = 8

# Git commit messages
[COMMIT_EDITMSG]
max_line_length = 75

# Kconfig
[Kconfig*]
indent_style = tab
indent_size = 8
